
.error {
    color: red;
}

.help {
    font-size: 25px;
    color: #48db44;
    text-transform: capitalize;
}

.fontfamily {
    font-family: 'Roboto Slab', sans-serif;
}

.menu-top1-1 {
    background: #F9F9F8 !important;

}

.menu-top1-1 a {
    color: #909191 !important;
}

#mainNav {

    background-color: rgba(0, 0, 0, 0.6);
}

.bg-white {
    background: #fff;
}

.navbar-brand {
    height: auto;
}

.navbar-fixed-top {
    height: 140px;
}

.fixed_area {
    position: fixed;
    width: 100%;
}

.margiin_area {
    margin-top: 20px;
}

.dropdown-menu {

}

.menu_user_login {
    border-bottom: 1px solid #eee;
}

.menu_user_login:last-child {
    border-bottom: none;
}

.bold_font {
    font-weight: bold;
}

.logo-menu-container {
    position: relative;
}

.how-to-play-summery {
    color: #fff;
}

.nav-main-menu li a {
    padding-bottom: 10px;
}

/*Remove this from mobile*/
.nav-main-menu {
    position: absolute;
    bottom: 0;
    right: 0;
}

/**********Tables having green header********/
.main-taible-head {
    background-color: #92b713;
    color: white;
    border-radius: 8px 0 0 0;
}

.main-taible-head th {
    text-align: center;

}

.border-r a {
    color: black;
}

.main-taible-body {
    text-align: center;
}

.table-striped {
    background-color: #ffffff;
}

.th1 {
    border-radius: 8px 0 0 0;
}

.th2 {
    border-radius: 0 8px 0 0;
}

.brr1 {
    border-radius: 0 0 0 8px;
}

.brr {
    border-radius: 0 0 8px 0;
}

.border-r {
    border-right: 2px solid #e4e4e2;
}

#bgcol {
    background-color: #2e312e;
    margin-top: 50px;

}

.main-t {

    min-height: 500px;
    background-color: #2e312e;
    padding-bottom: 50px;

}

.ah3 {
    color: #94b810;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    margin-bottom: 20px;

}

.trr {
    background-color: white;
}

.trr1 {
    background-color: #f8f8f7;
}

.gen-table tr td, .gen-table tr td a {
    color: #000;
}

/********Footer********/
section.footer {
    padding: 20px 0;
}

.navbar {
    position: relative;
    margin-bottom: 0;
}

.page-heading {
    text-align: left;
    margin-top: 0;
}

hr.light.full {
    width: 100%;
}

/*************/
.circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    font-size: 50px;
    color: #92B713;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
}

.mtb10 {
    margin: 10px 0;
}

.mt30 {
    margin-top: 30px;
}

.nav-main-menu a {
    color: #48db44 !important;
}

#smart-washr-near-me {
    background: url('../img/bg1ed21.jpg') no-repeat;
    padding: 50px auto;
}

#community {
    background: url('../img/bg3.jpg') no-repeat;
    padding: 100px auto;
}

.heading-white {
    color: #fff;
}

.div-round {
    border-radius: 10px;
    border: 2px solid #fff;
    padding: 10px 6px;
    text-align: center;
}

.div-round a {
    color: #fff;
    font-size: 16px;
}

.mr8 {
    margin-right: 14px;
}

.icon-badge {
    width: 200px;
    height: 200px;
    background: #fff;
    color: #48db44;
    position: relative;
    border-radius: 100px;
    border: 1px solid #CECECE;

}

.icon-badge .fa, .icon-badge .glyphicon, .icon-badge .sc_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    transform: translate(-50%, -50%);
}

.relative {
    position: relative;
}

.icon-next {
    position: absolute;
    right: -0.75cm;
    top: 40%;
    font-size: 28px;
}

.offer-div {
    background: url('../img/bg1ed21.jpg') no-repeat;
}

.price {
    text-align: center;
}

#map-contact {
    height: 450px;
    width: 100%;
}

.contact-form-container .contact-form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;

}

.contact-form form {
    background: rgba(0, 0, 0, 0.6);
    padding: 12px;
    border-radius: 8px;
}

.mt15 {
    margin-top: 15px;
}

ul.contact-footer {
    padding: 0;
    margin: 0;
}

ul.contact-footer li {
    list-style: none;
    line-height: 26px;
}

.mb34 {
    margin-bottom: 34px;
}

.font-normal {
    font-weight: normal !important;
    font-size: 14px !important;
}

@media (min-width: 777px) {
    .nav-main-menu {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%) !important;
    }

    .jquerySlickNavContainer {
        display: none
    }
}

.slicknav_menu {

}

.caption-header {
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    padding-left: 50px;
    color: #fff;
}

.cart-icon {
    position: relative;
}

.cart-icon i.fa {
    font-size: 20px;

}

.count-bubble {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background: #ff0000;
    display: block;
    position: absolute;
    bottom: 0;
}

.pricingSelect label {
    clear: both;
    display: block;
    text-align: left;
}

.pricingSelect {
    display: none;
}
<<<<<<< HEAD
@media all and (min-width: 961px) and (max-width: 1200px) {
    
}
@media all and (min-width: 769px) and (max-width: 960px) {
    
}
@media all and (min-width: 100px) and (max-width: 768px) {
 .fixed_area {
    position: inherit;
}
.section-heading {
    margin-top: 41px;
    display: inline-block;
}
.nav > li {
    width: 25% !important;
float: left !important;
}
.menu_user_login {
    border-bottom: none;
}
.count-bubble {
    margin-bottom: 10px;
}
@media all and (min-width: 100px) and (max-width: 600px) {
.fixed_area {
    position: inherit;
}
.section-heading {
    margin-top: 51px;
    display: inline-block;
}
.caption-header {
    padding-left: 15px;
}
.h2, h2 {
    font-size: 27px !important;
}
.h1, h1 {
    font-size: 27px !important;
}
.navbar-brand > img {
    display: block !important;
    margin: 0 auto !important;
}  
.navbar-brand {
    width: 100%;
    display: inline-block;
    text-align: center;
}
.slicknav_btn{
    width: 129px;
    display: block;
    margin: 0 auto;
    float: none;
    padding: 16px 10px;
}
.padding_area{
    padding-top: 11px;
    padding-left: 20px;
}
.nav > li {
    width: 36% !important;
    float: left !important;
}
.menu_user_login {
    border-bottom: none;
}
.font-normal{
    width: 65% !important;
    float: left !important;
    padding: 15px 0px !important;
}
.count-bubble{
    left: 49px !important;
    bottom: 6px;
}
.slicknav_menu .slicknav_icon {
    margin: -4px 0 0 0.438em !important;
}
.slicknav_menu .slicknav_menutxt {
    line-height: 0.188em !important;
}

}
@media all and (min-width: 100px) and (max-width: 480px) {
.font-normal {
    width: 100% !important;
    float: left !important;
   padding: 9px 0px 4px 0 !important;
    font-size: 12px;
}
.cart-icon{
    width: 48%;
    display: inline-block;
    float: right;
}
.login_left{
    float:left !important;
}
.register_right{
    float:right !important;
}
.cart-icon{
    margin-top: -3px;
}
.nav > li {
    width: 50% !important;
}
.padding_area{
    width: 100%;
    display: inline-block;
    text-align: center;
    padding-top: 0 !important;
}
.popup_link {
    font-size: 12px !important;
}
.navbar-nav {
        margin: 0px 0px 4px !important;
}
.menu_user_login a span{
    font-size: 12px !important;
}
.navbar-nav > li > a {
    padding-top: 5px !important;
padding-bottom: 15px !important;
}
.count-bubble {
    left: 47px !important;
    width: 15px;
height: 15px;
}
.navbar-nav > li > a {
    line-height: 17px !important;
}
}
=======
/*****************************responvcive***************************************************/
   @media all and (min-width: 961px) and (max-width: 1200px) { 

   } 
 @media all and (min-width: 769px) and (max-width: 960px) { 
          .nav > li {
    display: block !important;
    width: 25% !important;
    float: left !important;
}
.navbar-nav { 
width: 100% !important;
    display: inline-block !important;
    float: right !important;
}
.menu_user_login{
    border:none;
}
      }
@media all and (min-width: 100px) and (max-width: 768px) { 
    ..navbar-brand{
        width: 100% !important;
        display: inline-block !important;
        text-align: center !important;
        float: none !important;
    }
    .section-heading {
    margin-top: 40px !important;
    display: inline-block !important;
}
.nav > li {
    display: block !important;
    width: 25% !important;
    float: left !important;
}
.navbar-nav { 
width: 100% !important;
    display: inline-block !important;
    float: right !important;
} 
.menu_user_login{
    border:none;
}
.fixed_area{
    position: inherit;
}
       }
@media all and (min-width: 100px) and (max-width: 600px) { 
/*.header_same_line{
                   width: 40%;
    display: inline-block;
    float: left;
}
.width_area{
    width: 41%;
    margin-top: 21px;
}*/
 .nav > li {
    display: block !important;
    width: 100% !important;
    float: left !important;
}
.navbar-nav { 
width: 100% !important;
    display: inline-block !important;
    float: right !important;
} 
.menu_user_login{
    border:none;
}
.section-heading {
    margin-top: 46px !important;
    display: inline-block !important;
}

       }  
 @media all and (min-width: 100px) and (max-width: 480px) { 
}  
              @media all and (min-width: 100px) and (max-width: 320px) { 
 .nav > li {
    display: block !important;
    width: 100% !important;
    float: left !important;
}
.navbar-nav { 
width: 100% !important;
    display: inline-block !important;
    float: right !important;
} 
.menu_user_login{
    border:none;
}
.section-heading {
    margin-top: 46px !important;
    display: inline-block !important;
}
.padding_area{
    padding-left: 40px;
}
       }  
/********************************************************************************/
>>>>>>> 4401a0b2c51edb374dc25f3f6508271e70bd21c9
