.navbar {
    min-height:82px !important;
}
.navbar-nav{
    margin-top:15px;
}

header{
    margin-top: 82px !important;
}


.vc_custom {
    background-image: url("../img/bg1ed21.jpg") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 669px;       
}
@media (min-width:320px)  { 
    .imgwrapper{
        width: 60% !important;
    }
}

@media (min-width:481px)  { 
    .imgwrapper{
        width: 60% !important;
    }
}
@media (min-width:641px)  {
    .imgwrapper{
        width: 80% !important;
    }

}
@media (min-width:961px)  { 
    .imgwrapper{
        width: 100% !important;
    }
}

[class^="icon-"]::before, [class*=" icon-"]::before {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    width: auto;
}
.row > [class*="column-"], .columns_wrap > [class*="column-"] {
    box-sizing: border-box;
    display: inline-block;
    min-height: 1px;
    padding-left: 0;
    padding-right: 30px;
    position: relative;
    vertical-align: top;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    width: auto;
}

.bg-background-color{
    background-image: url("../img/bg3.jpg") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height:596px; 
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-position: center center;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
}

.header-content{
    font-size:12px !important;
}